
<h3>Email: <%= @user.email %></h3>
<h3>Username: <%= @user.username %></h3>

<div class="row">

  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
    <div class="row custom-list">
      <h1>
        Wanted
      </h1>
    
    <table id='wanted'>
      <thead>
        <th class='row'>
          <td class='col-xs-4'>Title</td>
          <td class='col-xs-4'>Console</td>
          <td class='col-xs-4'>Condition</td>
        </th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
    <div class="row custom-list">
      <h1>
        Offered
      </h1>
    
    <table id='offered'>
      <thead>
        <th class='row'>
          <td class='col-xs-4'>Title</td>
          <td class='col-xs-4'>Console</td>
          <td class='col-xs-4'>Condition</td>
        </th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

</div>