.commentbubble {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  text-overflow: ellipsis;
}

.comment-row {
  // padding: 3px 0 3px 0;
}

#user-comments {
  table-layout: fixed;
  word-wrap: break-word;
  overflow: hidden;
}