.body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), image-url('pattern_036.gif');
}

.navbar-brand {
  // overflow: hidden;
}

// font-family: 'Knewave', cursive;
// font-family: 'Permanent Marker', cursive; +
// font-family: 'Trade Winds', cursive;
// font-family: 'Vast Shadow', cursive;
// font-family: 'Ruslan Display', cursive; +
// font-family: 'Fugaz One', cursive;
// font-family: 'Holtwood One SC', serif;
// font-family: 'Sigmar One', cursive;
// font-family: 'Monofett', cursive; ++
// font-family: 'Ceviche One', cursive;
// font-family: 'Black Ops One', cursive;
// font-family: 'VT323';
// font-family: 'Press Start 2P', cursive;
// font-family: 'Sancreek', cursive;
// font-family: 'Freckle Face', cursive; +
// font-family: 'Rock Salt', cursive;
// font-family: 'Griffy', cursive;


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: orange;
  // background: 
  //   linear-gradient(
  //     rgba(0, 0, 0, 0.45), 
  //     rgba(0, 0, 0, 0.45)
  //   ), image-url('pattern_009.gif');
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.body > .container {
  padding: 60px 15px 80px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar.navbar-default.navbar-fixed-top{
  background: orange;
  // background: 
  //   linear-gradient(
  //     rgba(0, 0, 0, 0.45), 
  //     rgba(0, 0, 0, 0.45)
  //   ), image-url('pattern_009.gif');
}

.gamelist {
  margin: 0 0 20px;
}

.custom-list {
  background: #999;
  color: black;
  padding-left: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 2px;
}

#custom-logo {
  font-family: 'Freckle Face', cursive;
  color: black;
}

@media (max-width: 768px) {
  #custom-logo {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  #custom-logo {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  #custom-logo {
    font-size: 52px;
  }
}

@media (min-width: 1200px) {
  #custom-logo {
    font-size: 55px;
  }
}

#userprofile {
  // border: 3px solid black;
  background: #e7e7e7;
}

#username {
  font-size: 18px;
  color: black;
}

#profile-options {
  font-size: 10px;
  // color: blue;
  // margin: 2px;
  // padding: 2px;
}


#header {
  border: 2px solid white;
}

.footer {
  border: 2px solid white;
}

.listtitle {
  font-family: 'Holtwood One SC', serif;
  font-size: 28px;
}

#profile {
  background: white;
  border-radius: 10px;
  padding: 2px;
  margin: 4px;
}

.jumbo {
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  background: #000;
  padding: 5px;
  margin: 5px;
}

.gamenavbuttons {
  background: orange;
  color: black;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  border: 1px solid white;
  display: inline;
}

.wantbutton {
  background: #123102;
  color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  border: 1px solid white;
  display: inline;
}

.givebutton {
  background: #412100;
  color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  border: 1px solid white;
  display: inline;
}

// DASHBOARD

#top-wanted > tbody > tr:nth-child(n+11) {
  display: none;
}

.nextprevgamebutton {
  color: black;
}

.removebutton {
  color: orange;
  font-weight: bolder;
  background: #444;
}

.commentsform {
  color: black;
}

.avatar {
  padding: 2px;
}

.highlight {
  background: yellow;
}

#cc-home {
  color:black;
}

#cc-profile {
  color:black;
}

.cc-modal-title{
  color: black;
}
