.gamerow {
  background: black;
  color: white;
}

.wantrow {
  background: #123102;
  color: white;
  font-size: 11px;
}

.giverow {
  background: #412100;
  color: white;
  font-size: 11px;
}

.gametable {
  border: 1px solid white;
}